                                                      html {
                                                          box-sizing: border-box;
                                                      }

                                                      *, ::after, ::before {
                                                          box-sizing: inherit;
                                                      }

                                                      .body {
                                                          font-family: 'Lato', sans-serif;
                                                          margin: auto;
                                                          padding: 20px;
                                                          justify-content: center;
                                                          background-image: url("https://cdn.pixabay.com/photo/2018/08/03/06/59/background-3581188_960_720.jpg");
                                                          background-position: center;
                                                          background-size: cover;
                                                          background-attachment: fixed;
                                                          background-repeat: no-repeat;
                                                          overflow: auto;
                                                      }

                                                      .container {
                                                          display: flex;
                                                          align-items: center;
                                                          object-fit: cover;
                                                          background-repeat: no-repeat;
                                                          margin-top: 100px;
                                                      }

                                                      .form {
                                                          max-width: 700px;
                                                          margin: auto;
                                                          text-align: center;
                                                      }

                                                      .form__legend {
                                                          border: 1px solid teal;
                                                          border-radius: 5px;
                                                          background-color: hsl(180, 58%, 98%);
                                                          padding: 5px;
                                                          color: teal;
                                                          font-weight: 700;
                                                          text-align: left;
                                                      }

                                                      .form__fieldset {
                                                          background-color: rgb(217, 245, 245);
                                                          border: 1px solid teal;
                                                          margin: 20px auto;
                                                          border-radius: 5px;
                                                          max-width: 400px;
                                                      }

                                                      .form__button {
                                                          padding: 10px;
                                                          border: none;
                                                          border-radius: 5px;
                                                          background-color: hsl(180deg 81% 68%);
                                                          max-width: 400px;
                                                          width: 100%;
                                                      }

                                                      .form__button--reset {
                                                          background-color: hsl(180, 58%, 91%);
                                                          margin-bottom: 20px;
                                                      }

                                                      .form__button:hover {
                                                          background-color: hsl(180deg 78% 30%);
                                                      }

                                                      .form__result {
                                                          background-color: rgb(217, 245, 245);
                                                          padding: 20px 10px;
                                                          font-weight: 900;
                                                          border-radius: 5px;
                                                          max-width: 400px;
                                                          text-align: center;
                                                          margin: auto;
                                                      }