html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    padding: 20px;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2018/08/03/06/59/background-3581188_960_720.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}
